thead {
    text-align: center;
}
table {
    border-spacing: 0px;
    margin: 0px auto;
}
td {
    padding: 5px;
    text-align: center;
}
svg {
    margin:50px 0px;
    float: left;
}
canvas {
    float: right;
    margin: 50px 0px;
}
.clearfix {
    overflow: auto;
}
#region-radio-wrapper, #product-radio-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}